<div class="headerContainer" fxFlexLayout>
    <mat-card class="headerCard mat-elevation-z20 mat-card-global" fxFlex fxFlex.gt-sm="100%">
        <mat-card-content>
            <h3 class="mat-headline">Welcome to Wubbalubbadubdub</h3>

            <mat-card-header>
                <mat-card-subtitle>Proudly presented by Bird Person</mat-card-subtitle>
            </mat-card-header>

            <mat-divider [inset]="true"></mat-divider>

            <p class="mat-body-1">
                it has been a challenging mating season for Bird Person...
            </p>
        </mat-card-content>
    </mat-card>
</div>

<div class="container" fxLayout fxLayout.lt-md="column" fxLayoutAlign="start start" fxLayoutAlign.lt-md="start stretch"
    fxLayoutGap="40px" fxLayoutGap.lt-md="20px">

    <div fxFlex="60%">
        <div class="container" fxLayout="column" fxLayoutGap="40px" fxLayoutGap.lt-md="20px">
            <mat-card fxFlex class="mat-elevation-z20 mat-card-global">
                <mat-card-header>
                    <mat-card-title>Da Rulez!</mat-card-title>
                    <mat-card-subtitle>Don't f*ck this up</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <p>
                        ...
                    </p>
                </mat-card-content>
            </mat-card>
        </div>

    </div>

    <mat-card class="mat-elevation-z20 mat-card-global" fxFlex="40%" style="">
        <mat-card-header>
            <mat-card-title>Further Links</mat-card-title>
            <mat-card-subtitle>Stuff that could be of use</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content class="downloadsCard">
            <a target="_blank" href="https://www.youtube.com/watch?v=JGI9soDkoZ4">A Link</a>
        </mat-card-content>
    </mat-card>
</div>